@import "tailwindcss";

@theme {
  --font-special: var(--font-league-spartan);
  --font-body: var(--font-inter);

  --color-bg: #e4e4e7;
  --color-neutral: #09090b;
  --color-accent-primary: #e11d48;
}
