---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Manzanita Web Design">
  <main class="">
    <section class="flex h-dvh flex-col">
      <div class="flex h-full w-full justify-center bg-neutral pl-6 text-bg">
        <div
          class="border-bg-rose flex h-full w-full flex-col items-center justify-center gap-8 border-l-2 px-6"
        >
          <h1
            class="w-fit font-special text-6xl text-shadow-2xs md:text-8xl xl:text-9xl"
          >
            <span class="split text-rose-600">Manzanita</span>
            Web Design
          </h1>
          <h2 class="text-xl font-light md:text-2xl">
            custom websites for your local business
          </h2>
        </div>
      </div>
      <div class="flex h-full w-full items-center justify-center">
        <nav class="flex w-full justify-center border-b-2 border-neutral pb-1">
          <ul class="flex w-full max-w-96 justify-around gap-8 px-6 text-xl">
            <a href="#">work</a>
            <a href="#">about</a>
            <a href="#">contact</a>
          </ul>
        </nav>
      </div>
    </section>
  </main>
</Layout>

<script></script>
