---
import "/src/styles/global.css";
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link
      rel="preload"
      href="/fonts/league-spartan-v14-latin-regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/inter-v19-latin-regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://manzanitawebdesign.com" />
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="Custom Business Websites | Manzanita Web Design"
    />
    <meta
      property="og:description"
      content="We create custom websites that will grow your business by boosting visibility and sales. Proudly serving the Antelope Valley, California, and beyond since 2023."
    />
    <meta property="og:image" content="/og.png" />
    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="manzanitawebdesign.com" />
    <meta property="twitter:url" content="https://manzanitawebdesign.com" />
    <meta
      name="twitter:title"
      content="Custom Business Websites | Manzanita Web Design"
    />
    <meta
      name="twitter:description"
      content="We create custom websites that will grow your business by boosting visibility and sales. Proudly serving the Antelope Valley, California, and beyond since 2023."
    />
    <meta name="twitter:image" content="/og.png" />

    <!-- Meta Tags Generated via https://www.opengraph.xyz -->
  </head>
  <body class="bg-(--color-bg) font-body">
    <slot />
  </body>
</html>
